<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/4b23560c7e.js" crossorigin="anonymous"></script>
  
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <a href="#content" class="skip-link">SKIP TO CONTENT</a>
  <nav class="navbar">
    <div class="logo">Rest-Us</div>
    <a href="#" class="toggle-button">
      <i class="fas fa-bars"></i>
    </a>
    <div class="navbar-links">
      <ul>
        <li><a href="/" title="Link home">Home</a></li>
        <li><a href="#" title="Link favorite">Favourite</a></li>
        <li><a href="https://github.com/HEYiMOW" target="_blank">About Me</a></li>
      </ul>
    </div>
  </nav>
  <div class="hero-image">
    <div class="hero-text">
      <h1>Rest-Us</h1>
      <p>Resto <span style="color: rgb(255, 0, 0);">Rest-Us</span> give you many information</p>
      <p>about any Restaurant in Indonesia</p>
    </div>
  </div>

  <main>
    <div id="content">
        <h2><span class="title-content">Explore Restaurant</span></h2>
        <div class="row" id="resto-list"></div>
</main>
<footer>
  <span>&copy; Copyright 2022/2023 &dash; Rest-Us Apps</span>
</footer>
</body>
</html>
